include LICENSE
include MANIFEST.in
include README.rst
recursive-include leonardo_theme_mknachod/static *
recursive-include leonardo_theme_mknachod/locale *
recursive-include leonardo_theme_mknachod/templates *