// navbar

.navbar.navbar-default.navbar-static-top {
    background-color: #731126;
    border-color: #731126;
    margin: 0;
    height: 51px;
    .navbar-nav {
        margin-bottom: -5px;
        > li > a {
            color: #fff;
            margin-top: 0px;
            padding: 15px 48.4px;
            font-size: 15px;
        }
    }
    .navbar-nav > .active > a {
        background-color: #b9304d;
    }
}

.nav.navbar-nav {
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    float: none;
}

.navbar-collapse.collapse {
    margin-bottom: 0px;
    &.in {
        background-color: rgba(185, 48, 77, 0.9);
    }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #b9304d;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #b9304d;
}

.container.bg-mknachod .leonardo-region .col-xs-10.col-xs-offset-0 {
    padding-left: 0;
    padding-right: 31px;
}

.proknihovny_heading {
    position: absolute;
    top: 76px;
    left: 540px;
    font-size: 35px;
    text-align: right;
    color: #000;
}
@media only screen and (max-width: 760px) {
    .proknihovny_heading {
        position: absolute;
        top: -21px;
        left: -17px;
        font-size: 35px;
        text-align: center;
        color: #000;
    }
}

// pagination

.pagination {
    > li a {
        color: #b9304d;
    }
    > .active > a {
        background-color: #b9304d;
        border-color: #b9304d;
    }
}
