// navbar

.navbar.navbar-default.navbar-static-top {
    background-color: #195EB0;
    border-color: #195EB0;
    margin: 0;
    height: 51px;
    .navbar-nav {
        margin-bottom: -5px;
        > li > a {
            color: #fff;
            margin-top: 0px;
            padding: 15px 25.8px;
            font-size: 15px;
        }
    }
    .navbar-nav > .active > a {
        background-color: #3270B9;
    }
}

.nav.navbar-nav {
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    float: none;
}

.navbar-collapse.collapse {
    margin-bottom: 0px;
    &.in {
        background-color: rgba(25, 94, 176, 0.9);
        padding-bottom: 10px;
    }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #3270B9;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3270B9;
}

.container.bg-mknachod .leonardo-region .col-xs-10.col-xs-offset-0 {
    padding-left: 0;
    padding-right: 31px;
}