{% extends widget.get_base_template %}

{% load i18n %}
{% load thumbnail %}
{% load leonardo_tags filermedia %}
{% block content %}
<style type="text/css">
.grid figure {
  height: 155px;
  margin-top: 30px;
}
.grid figure h2 span {
  font-weight: normal;
  font-size: 16px;
  word-spacing: 0;
  color: #cecece;
  text-transform: initial;
}

figure.effect-lily figcaption > div {
  transform: rotate(-35deg);
  height: 100%;
}

.grid figure h2 span:first-letter {
  text-transform: uppercase;
}
.first-letter-upper:first-letter {
  text-transform: uppercase;
}

.thumbnail > img {
  max-height: 130px;
  background: #3A6F9A;
  vertical-align: middle;
  max-width: 100%;
}

.valignContainer .centered {
  width: 100%;
}

.valignContainer {
  height: 150px;
}

.thumb_directory {
  height: 232px;
}

figure.effect-lily h2 {
  margin-left: -15px;
  margin-top: -10px;
}

</style>

{% if object != None %}

<h2 class="first-letter-upper" style="padding-bottom: 20px;">{{ object }}</h2>

<div class="media-gallery">
<div class="row">
  {% for object in object.files %}
  <div class="valignContainer text-center col-lg-3 col-md-4 col-xs-6 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %} {% if forloop.counter > 16 %}wow fadeInUp{% endif %}">
    {% thumbnail object.file.file "200x840" format="PNG" as thumb %}
    <div class="object-cell-content centered">
    <a class="thumbnail" data-title="{{ object.default_caption|default:'' }}" data-footer="{{ object.description|default:'' }}" data-toggle="lightbox" href="{{ object.file.url }}" rel="{{ widget.fe_identifier }}" data-gallery="multiimages">
      <img class="img-responsive" src="{{ thumb.url }}" />
    </a>
    </div>
    {% endthumbnail %}
  </div>
  {% endfor %}
</div>
</div>

<div class="media-back-button">
  <button class="btn btn-catalog" onclick="goBack()">
  {% trans "Back to" %} Fotogalerie
  </button>
</div>

{% else %}
<h1>Fotogalerie</h1>
<div class="object-grid ui-helper-clearfix grid">
  {% for object in object_list|dictsort:"created_at" reversed %}
  <div class="col-lg-3 col-md-4 col-xs-6 thumb_directory {% if forloop.counter > 12 %}wow fadeInUp{% endif %}">
      <figure class="effect-lily" onclick="location.href = './{{ object.name }}/';">
        {% thumbnail object.get_featured_image.file "200x140" format="PNG" crop="center" as thumb %}
        <img src="{{ thumb.url }}" /><br />
        {% endthumbnail %}
        <figcaption>
        </figcaption>
      </figure>
      <p class="objet-image-neste-template first-letter-upper" onclick="location.href = './{{ object.name }}/';">{{ object.name|truncatechars:"40" }}</p>
  </div>
  {% endfor %}
</div>
{% if object_list.paginator.num_pages != 1 %}
<div class="col-xs-12 wow fadeInUp">
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li><a href="?page={{ object_list.previous_page_number }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    {% endif %}
    {% for object in object_list.paginator.page_range %}
      <li class="{% if object_list.number == forloop.counter %}active{% endif %}"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if object_list.has_next %}
      <li><a href="?page={{ object_list.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endif %}
<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
