{% extends widget.get_base_template %}
{% load i18n thumbnail %}
{% load leonardo_tags %}

{% block content %}
{% for item in get_items %}
{% if item.categories.get.slug == 'novinky-v-knihovne' or item.categories.get.slug == 'aktuality' or 'semestr' in item.slug %}
{% else %}
<div class="col-xs-12">
    <div class="row novinky">
        <div class="span12">
        {% if item.picture %}
          <a href="{{ item.get_absolute_url }}">
            <img class="event-img-preview pull-left" src="{{ item.picture.url }}" alt=""/>
          </a>
        {% endif %}
          <a href="{{ item.get_absolute_url }}"><h3 class="pripravovane_akce_heading">{{ item.name }}</h3></a>
          <p>{{ item.translation.short_description|default:item.short_description|safe|truncatewords:31 }}</p><br>
          {% if item.categories.get.slug == 'novinky-v-knihovne' %}
          {% else %}
          {% if 'proknihovny' in request.build_absolute_uri or 'pro-knihovny' in request.build_absolute_uri %}
          <p>Vloženo: {{ item.start_time|date:"DATE_FORMAT" }}</p>
          {% else %}
          <p><strong>Trvání akce od {{ item.start_time }}{% if item.end_time %} do {{ item.end_time }}{% endif %}</strong></p>
          {% endif %}
          {% endif %}
          <a class="btn btn-default pull-right" href="{{ item.get_absolute_url }}">Číst více</a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% if get_items.paginator.num_pages != 1 %}
<div class="col-xs-12">
  <ul class="pagination">
    {% if get_items.has_previous %}
      <li><a href="?page={{ get_items.previous_page_number }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    {% endif %}
    {% for object in get_items.paginator.page_range %}
      <li class="{% if get_items.number == forloop.counter %}active{% endif %}"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if get_items.has_next %}
      <li><a href="?page={{ get_items.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock %}