{% extends widget.get_base_template %}
{% load i18n thumbnail staticfiles extra %}

{% block content %}
<style type="text/css">
.bubble {
    position: absolute;
    width: auto;
    height: auto;
    display: none;
    min-width: 380px;
    padding: 16px;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: 0px 0px 12px 0px #b9b9b9;
    background-color: #ffffff;
    z-index: 9999;
}

/* fullcalendar */

div#calendar.calendar-small {
    height: 328px!important;
    margin-top: 20px!important;
}

div#calendar.calendar-small .fc-event {
    height: 1px!important;
}

div#calendar.calendar-small .fc-row.fc-widget-header {
    border-right-width: 0px!important;
    margin-right: 0px!important;
}

div#calendar.calendar-small .fc-scroller.fc-day-grid-container {
    overflow-y: hidden!important;
    height: 246px!important;
}

div#calendar.calendar-small .fc-row.fc-week.fc-widget-content.fc-rigid {
    height: 41px!important;
}

div#calendar.calendar-small .fc-basic-view .fc-body .fc-row {
    min-height: 0!important;
}

div#calendar.calendar-small .fc-content {
    display: none;
}

div#calendar.calendar-small .fc-toolbar {
    padding-bottom: 10px;
}
</style>
<script>
    $(document).ready(function() {

        if ($('#calendar').width() < 500){
            function SmallTitleOfCalendar() {
                var list = document.getElementsByClassName("fc-center")[0];
                list.getElementsByTagName("H2")[0].style.fontSize="17px";
                list.getElementsByTagName("H2")[0].style.marginTop="7px";
            }
            function DetectContainerCalendar() {
                var selected_div = document.getElementById('calendar');
                selected_div.classList.add('calendar-small');
            }
            window.onload = function () {
                DetectContainerCalendar();
                SmallTitleOfCalendar();
            }
            $('#calendar').fullCalendar({
                header: {
                    titleFormat: 'MMMM D YYYY',
                    left: 'prev',
                    center: 'title',
                    right: 'next',
                },
                height: 300,
                locale: "cs",
                firstDay: 1,
                eventMouseover: function (calEvent, jsEvent, view) {

                    $(".bubble").html(
                            "<p>Název události: <strong>" + calEvent.title + "</strong></p>" +
                            "<p>Začátek: " + calEvent.start.format("DD.MM. YYYY") + "</p>" +
                            "<p>Konec: " + calEvent.end.format("DD.MM. YYYY") + "</p>"
                            );
                    $(".bubble").css({ top: jsEvent.pageY + 20, left: jsEvent.pageX + 20}).show(0);
                },
                eventMouseout: function (calEvent, jsEvent, view) {
                    $(".bubble").hide();
                },
                eventLimit: true, // allow "more" link when too many events
                events: [
                {% for item in get_calendar_items %}
                    {
                        title: '{{ item.translation.name|default:item.name }}',
                        start: '{{ item.start_time.year }}-{{ item.start_time|date:"m-d" }}T{{ item.start_time|time:"H:i" }}',
                        end: '{{ item.end_time.year }}-{{ item.end_time|date:"m-d" }}T{{ item.end_time|time:"H:i" }}',
                        color: "{% if item|has_category:'pro-deti' %}#F0542B{% elif item|has_category:'pro-dospele' %}#82B421{% elif item|has_category:'pro-vsechny' %}#195EB0{%endif%}",
                        url: '{{ item.get_absolute_url }}',
                    },
                {% endfor %}
                ]
            });
        } else {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,'
                },
                locale: "cs",
                firstDay: 1,
                eventMouseover: function (calEvent, jsEvent, view) {

                    $(".bubble").html(
                            "<p>Název události: <strong>" + calEvent.title + "</strong></p>" +
                            "<p>Začátek: " + calEvent.start.format("DD.MM. YYYY") + "</p>" +
                            "<p>Konec: " + calEvent.end.format("DD.MM. YYYY") + "</p>"
                            );
                    $(".bubble").css({ top: jsEvent.pageY + 20, left: jsEvent.pageX + 20}).show(0);
                },
                eventMouseout: function (calEvent, jsEvent, view) {
                    $(".bubble").hide();
                },
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    element.find('span.fc-title').html(element.find('span.fc-title').text());
                },
                events: [
                {% for item in get_calendar_items %}
                    {
                        title: '{{ item.translation.name|default:item.name }}',
                        start: '{{ item.start_time.year }}-{{ item.start_time|date:"m-d" }}T{{ item.start_time|time:"H:i" }}',
                        end: '{{ item.end_time.year }}-{{ item.end_time|date:"m-d" }}T{{ item.end_time|time:"H:i" }}',
                        color: "{% if item|has_category:'pro-deti' %}#F0542B{% elif item|has_category:'pro-dospele' %}#82B421{% elif item|has_category:'pro-vsechny' %}#195EB0{%endif%}",
                        url: '{{ item.get_absolute_url }}',
                    },
                {% endfor %}
                ]
            });
        }
    });

</script>
<div id='calendar'></div>
<script type="text/javascript">
    $("body").append("<div class='bubble'></div>")
</script>
{% endblock %}
