{% extends widget.get_base_template %}
{% load i18n thumbnail %}
{% load leonardo_tags %}

{% block content %}
{% for item in get_items %}
{% if forloop.counter <= widget.objects_per_page %}
<div class="col-xs-12 col-md-{% if widget.objects_per_row == 2 %}6{% elif widget.objects_per_row == 1 %}12{% endif %}">
    <h3>{{ item.name }}</h3>
    <div class="row novinky">
        <div class="span12">
        {% if item.picture %}
          <a href="{{ item.get_absolute_url }}">
            {% thumbnail item.picture.file "x350" format="PNG" as image %}
            <img class="event-img-preview pull-left" src="{{ image.url }}" alt=""/>
            {% endthumbnail %}
          </a>
        {% endif %}
          <p>{{ item.translation.short_description|default:item.short_description|safe|truncatewords:31 }}</p><br>
          <a class="btn btn-default pull-right" href="{{ item.get_absolute_url }}">Číst více</a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% if widget.objects_per_row == 1 %}
{% if get_items.paginator.num_pages != 1 %}
<div class="col-xs-12">
  <ul class="pagination">
    {% if get_items.has_previous %}
      <li><a href="?page={{ get_items.previous_page_number }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    {% endif %}
    {% for object in get_items.paginator.page_range %}
      <li class="{% if get_items.number == forloop.counter %}active{% endif %}"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if get_items.has_next %}
      <li><a href="?page={{ get_items.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endif %}
{% endblock %}
