{% extends widget.get_base_template %}
{% load i18n thumbnail %}
{% load leonardo_tags %}

{% block content %}
{% for item in widget.get_items reversed %}
{% if forloop.counter <= widget.objects_per_page %}
<div class="col-xs-12 col-md-{% if widget.objects_per_row == 2 %}6{% elif widget.objects_per_row == 1 %}12{% endif %}">
    <h3>{{ item.name }}</h3>
    <div class="row novinky">
        <div class="span12">
        {% if item.picture %}
          <a href="{{ item.get_absolute_url }}">
            <img class="event-img-preview pull-left" src="{{ item.picture.url }}" alt=""/>
          </a>
        {% endif %}
          <p>{{ item.translation.short_description|default:item.short_description|safe|truncatewords:31 }}</p><br>
          <a class="btn btn-default pull-right" href="{{ item.get_absolute_url }}">Číst více</a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}