{% extends widget.get_base_template %}
{% load i18n thumbnail %}
{% load leonardo_tags %}

{% block content %}
{% for item in widget.items reversed %}
  {% for obj in item.categories.all %}
    {% if obj.slug == '1-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">1. semestr</button><br>
    {% endif %}
    {% if obj.slug == '2-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">2. semestr</button><br>
    {% endif %}
    {% if obj.slug == '3-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">3. semestr</button><br>
    {% endif %}
    {% if obj.slug == '4-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">4. semestr</button><br>
    {% endif %}
    {% if obj.slug == '5-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">5. semestr</button><br>
    {% endif %}
    {% if obj.slug == '6-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">6. semestr</button><br>
    {% endif %}
    {% if obj.slug == '7-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">7. semestr</button><br>
    {% endif %}
    {% if obj.slug == '8-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">8. semestr</button><br>
    {% endif %}
    {% if obj.slug == '9-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">9. semestr</button><br>
    {% endif %}
    {% if obj.slug == '10-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">10. semestr</button><br>
    {% endif %}
    {% if obj.slug == '11-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">11. semestr</button><br>
    {% endif %}
    {% if obj.slug == '12-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">12. semestr</button><br>
    {% endif %}
    {% if obj.slug == '13-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">12. semestr</button><br>
    {% endif %}
    {% if obj.slug == '14-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">12. semestr</button><br>
    {% endif %}
    {% if obj.slug == '15-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">12. semestr</button><br>
    {% endif %}
    {% if obj.slug == '16-semestr' and item.categories.count == 2 %}
    <button type="button" class="btn btn-semestr btn-{{ obj.id }}">12. semestr</button><br>
    {% endif %}
    {% if obj.slug == '1-semestr' or obj.slug == '2-semestr' or obj.slug == '3-semestr' or obj.slug == '4-semestr' or obj.slug == '5-semestr' or obj.slug == '6-semestr' or obj.slug == '7-semestr' or obj.slug == '8-semestr' or obj.slug == '9-semestr' or obj.slug == '10-semestr' or obj.slug == '11-semestr' or obj.slug == '12-semestr' or obj.slug == '13-semestr' or obj.slug == '14-semestr' %}
      <div class="col-xs-12 event-{{ item.id }} collapse">
          <div class="semestr-content">
              <h5 class="semestr-heading" data-toggle="modal" data-target="#modal{{ item.id }}">{{ item.translation.name|default:item.name }}</h5>
          </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">{{ item.translation.name|default:item.name }}</h3>
            </div>
            <div class="modal-body">
              {{ item.translation.description|default:item.description|safe }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
          </div>
        </div>
      </div>
      <script>
      $(document).ready(function(){
          $(".btn-semestr.btn-{{ obj.id }}").click(function(){
              $(".event-{{ item.id }}.collapse").collapse('toggle');
          });
      });
      </script>
    {% endif %}
  {% endfor %}
{% endfor %}
{% endblock %}