{% extends widget.get_base_template %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
#{{ widget.fe_identifier }}-map {
  width: 100%;
  margin-top: 15px;
}

.hiddendiv {
  display: none;
}

.image-knihreg {
  cursor: pointer;
}
.buttonKnihovna {
  margin: 2px 2px;
}
</style>

<div id="{{ widget.fe_identifier }}-map" class="widget-maplocation-map"></div>
<script type="text/javascript">
var gmaps = gmaps || {};

gmaps.initFunctions = gmaps.initFunctions || [];


gmaps.init = gmaps.init || function (){

    if(gmaps.initFunctions && gmaps.initFunctions.length > 0)

    for(var i=0;i<gmaps.initFunctions.length;i++){

        gmaps.initFunctions[i]();

    }
}

gmaps.initFunctions[gmaps.initFunctions.length] = function(){

    var canvas = $("#{{ widget.fe_identifier }}-map");
    var location = new google.maps.LatLng(50.49, 16.14633);
    var zoom = 10;

    map_type = google.maps.MapTypeId.ROADMAP;

    var options = { zoom: zoom, center: location, mapTypeId: map_type, scrollwheel: false };
    var map = new google.maps.Map(canvas.get(0), options);

    function removeParagraphFromString(string) {
      string.replace("<p>", "").replace("\u003C/p\u003E\u000D\u000A", "");
      return string;
    }

    {% for item in widget.get_items reversed %}
    var LONGTITUDE_ITEM_{{ item.id }} = "{{ item.relationship.translation.description|escapejs|safe }}".replace("\u003Cp\u003E","").replace("\u003C/p\u003E\u000D\u000A","");
    {% endfor %}

    var locations = [
    {% for item in widget.get_items reversed %}
      ['', {{ item.relationship.web_address }}, LONGTITUDE_ITEM_{{ item.id }}, 4],
    {% endfor %}
    ];

    var markers = [];
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: "{% static 'img/marker_b.png' %}",
        id: i,
      });
      markers.push(marker);
    }

    $.fn.changeMarker = function(id) {
      for (i = 0; i < markers.length; i++) {
         markers[i].setIcon("{% static 'img/marker_b.png' %}");  
      }
      markers[id].setIcon("{% static 'img/marker_a.png' %}");
    };

    google.maps.event.addListener(map, 'click', function(event){
        this.setOptions({scrollwheel:true});
     });
    google.maps.event.addListener(map, 'mouseout', function(event){
            this.setOptions({scrollwheel:false});  
    });

    var widget_height = 480 + "px";

    $("#{{ widget.fe_identifier }}-map").height(widget_height);
}

$(function() {
  loadResource({src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyA2dlrJ_kjJLGYz7a85ybHFvk8RGgrY02E", callback: gmaps.init});
});

</script>

{% for item in widget.get_items %}
<h2 id="visible-h2-{{ item.id }}" class="hiddendiv">{{ item.translation.name }}</h2>
<div id="visible-div-{{ item.id }}" class="hiddendiv container">
  <div class="col-xs-8">
    {{ item.translation.description|safe }}
  </div>
  <div class="col-xs-4">
    <a type="button" data-toggle="modal" data-target="#modal{{ item.image.id }}">
      <img src="{{ item.image.url }}" alt="" class="img-responsive image-knihreg" />
    </a>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal{{ item.image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ item.translation.name|safe }}</h4>
      </div>
      <div class="modal-body">
        <img width="100%" src="{{ item.image.url }}" alt=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<h1>Profesionální knihovny okresu</h1>
<div class="prof-knihovny-insert"></div>
<h1>Obecní knihovny okresu</h1>
<h2>Náchod</h2>
<div class="nachod-knihovny-insert">
</div>
<h2>Červený Kostelec</h2>
<div class="kostelec-knihovny-insert">
</div>
<h2>Jaroměř</h2>
<div class="jaromer-knihovny-insert">
</div>
<h2>Nové Město nad Metují</h2>
<div class="nmesto-knihovny-insert">
</div>
<h2>Police nad Metují</h2>
<div class="police-knihovny-insert">
</div>

{% for item in widget.get_items|dictsort:"translation.name" %}
{% if item.ordering == 0 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.prof-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% if item.ordering == 1 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.nachod-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% if item.ordering == 2 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.kostelec-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% if item.ordering == 3 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.jaromer-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% if item.ordering == 4 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.nmesto-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% if item.ordering == 5 %}
<button class="btn page-scroll buttonKnihovna" id="showButton{{ item.id }}" onClick="$(this).changeMarker({{ forloop.counter0 }});">{{ item.translation.name|linebreaksbr }}</button>
<script type="text/javascript">
$("#showButton{{ item.id }}").click(function () {
  $('[id*="visible-div"]').hide();
  $('[id*="visible-h2"]').hide();
  $("#visible-h2-{{ item.id }}").show();
  $("#visible-div-{{ item.id }}").show();
});
var appendButton = $('#showButton{{ item.id }}');
$('.police-knihovny-insert').append(appendButton);
</script>
{% endif %}
{% endfor %}

<script type="text/javascript">
// jQuery for page scrolling feature - requires jQuery Easing plugin
$('.btn.page-scroll').bind('click', function(event) {
    $('html, body').stop().animate({
        scrollTop: ($("#{{ widget.fe_identifier }}-map").offset().top)
    }, 500);
    event.preventDefault();
});
</script>
{% endblock content %}
